body
  font: 16px/1.5 "OpenSansRegular", "Helvetica Neue", Helvetica, Arial, sans-serif
  background: #252525
  background-attachment: fixed !important
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2a2a29), color-stop(100%, #1c1c1c))
  background: -webkit-linear-gradient(#2a2a29, #1c1c1c)
  background: -moz-linear-gradient(#2a2a29, #1c1c1c)
  background: -o-linear-gradient(#2a2a29, #1c1c1c)
  background: linear-gradient(#2a2a29, #1c1c1c)

a
  color: #ffcc00

  &:visited
    color: #ffcc00
  &:hover
    color: #ffeb9b

pre, code
  color: black

.site-title
  color: #f0e7d5
  &:visited
    color: #f0e7d5
  &:hover
    color: #f0e7d5

.site-header,
.site-footer
  width: $content-width
  margin: 0 auto

.site-header
  border-bottom-style: dashed

.site-footer
  border-top-style: dashed
